#popup.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
}
#popup .container {
  width: 300px;
  height: 250px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 10px solid gray;
  z-index: 100;
  background-color: white;
}